<header>
  <div class="container">
    <div class="col-md-12">
      <div class="clearfix wrapper">
        <p class="headline">This camp is brought to you by the <a href="https://www.facebook.com/groups/drupalcebu/">Drupal Cebu Users Group</a>.</p>
      </div>
    </div>
    <div class="camp-logo">
      <img src="{{ "/images/drupalcebu_puso.svg" | relative_url }}" width="125px" height="182px" />
    </div>
    <menu class="col-md-12">
      <ul>
        <!-- <li>
          <a href="#">Speakers</a>
        </li>
        <li>
          <a href="#">Schedule</a>
        </li>
        <li>
          <a href="#">Pricing</a>
        </li>
        <li>
          <a href="#">Sponsors</a>
        </li> -->
        <!-- <li>
          <a href="#venue">Venue</a>
        </li> -->
        <li>
          <a class="button-link" href="https://www.eventbrite.com/e/drupalcamp-cebu-2017-tickets-1836622387" target="_blank">Register</a>
        </li>
      </ul>
    </menu>
  </div>
</header>
