/* line 1, ../sass/partials/_base.scss */
html {
  background-color: #1b002c;
}

/* line 5, ../sass/partials/_base.scss */
a {
  text-decoration: underline;
}

/* line 9, ../sass/partials/_base.scss */
p {
  font-family: "Muli", sans-serif;
}

/* line 13, ../sass/partials/_base.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Saira Condensed", sans-serif;
}

@media only screen and (min-width: 0px) {
  /* line 18, ../sass/partials/_base.scss */
  body {
    background: url("../images/bg_sm.jpg") top center no-repeat #1b002c;
  }
}
@media only screen and (min-width: 640px) {
  /* line 24, ../sass/partials/_base.scss */
  body {
    background: url("../images/bg_md.jpg") top center no-repeat #1b002c;
  }
}
@media only screen and (min-width: 1024px) {
  /* line 30, ../sass/partials/_base.scss */
  body {
    background: url("../images/bg_lg.jpg") top center no-repeat #1b002c;
  }
}
/* line 8, ../sass/partials/_header.scss */
header p.headline {
  margin-top: 20px;
  color: #a04b4e;
  text-align: center;
}
/* line 12, ../sass/partials/_header.scss */
header p.headline a {
  color: #a04b4e;
}

@media only screen and (min-width: 0px) and (max-width: 289px) {
  /* line 19, ../sass/partials/_header.scss */
  header .camp-logo {
    height: 500px;
    background: url("../images/camp_logo_mobile.png") center no-repeat;
  }
  /* line 23, ../sass/partials/_header.scss */
  header .camp-logo img {
    margin-left: 38%;
    margin-top: 100px;
    width: 28%;
    height: 28%;
  }
}
@media only screen and (min-width: 289px) and (max-width: 640px) {
  /* line 34, ../sass/partials/_header.scss */
  header .camp-logo {
    height: 500px;
    background: url("../images/camp_logo_mobile.png") center no-repeat;
  }
  /* line 38, ../sass/partials/_header.scss */
  header .camp-logo img {
    margin-left: 40.5%;
    margin-top: 118px;
    width: 20%;
    height: 20%;
  }
}
@media only screen and (min-width: 640px) and (max-width: 1023px) {
  /* line 48, ../sass/partials/_header.scss */
  header .camp-logo {
    height: 700px;
    background: url("../images/camp_logo_tablet.png") center no-repeat;
  }
  /* line 52, ../sass/partials/_header.scss */
  header .camp-logo img {
    margin-left: 37%;
    margin-top: 125px;
    width: 27%;
    height: 27%;
  }
}
@media only screen and (min-width: 1024px) {
  /* line 64, ../sass/partials/_header.scss */
  header .wrapper {
    /* width: 946px;*/
  }
  /* line 67, ../sass/partials/_header.scss */
  header .camp-logo {
    margin: 0 auto;
    width: 946px;
    height: 560px;
    background: url("../images/drupal-text-only.svg") center no-repeat;
    background-size: 946px 560px;
    text-align: center;
  }
  /* line 74, ../sass/partials/_header.scss */
  header .camp-logo img {
    width: 35%;
    height: 35%;
    margin-left: 12%;
    margin-top: 40px;
  }
}
