/* line 1, ../sass/partials/_base.scss */
body {
  background: url("../images/header_bg.jpg") top center no-repeat;
}

@media only screen and (min-width: 0px) {
  /* line 6, ../sass/partials/_base.scss */
  .camp_logo_wrapper {
    background: url("../images/camp_logo_mobile.png") center no-repeat;
  }
}
@media only screen and (min-width: 640px) {
  /* line 12, ../sass/partials/_base.scss */
  .camp_logo_wrapper {
    background: url("../images/camp_logo_tablet.png") center no-repeat;
  }
}
@media only screen and (min-width: 1024px) {
  /* line 18, ../sass/partials/_base.scss */
  .camp_logo_wrapper {
    background: url("../images/camp_logo.png") center no-repeat;
  }
}
/* line 1, ../sass/partials/_header.scss */
.camp_logo_wrapper {
  height: 430px;
  display: grid;
}
/* line 4, ../sass/partials/_header.scss */
.camp_logo_wrapper img.img-responsive {
  align-self: center;
}

/* line 9, ../sass/partials/_header.scss */
p.headline {
  color: #701e2c;
  text-align: center;
}
/* line 12, ../sass/partials/_header.scss */
p.headline a {
  color: #701e2c;
}

@media only screen and (min-width: 640px) {
  /* line 19, ../sass/partials/_header.scss */
  .camp_logo_wrapper {
    height: 700px;
  }
}
