/* line 1, ../sass/partials/_base.scss */
html {
  background-color: #1b002c;
}

/* line 5, ../sass/partials/_base.scss */
a {
  text-decoration: underline;
}

/* line 9, ../sass/partials/_base.scss */
p {
  font-family: "Muli", sans-serif;
}

/* line 13, ../sass/partials/_base.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Saira Condensed", sans-serif;
}

@media only screen and (min-width: 0px) {
  /* line 18, ../sass/partials/_base.scss */
  body {
    background: url("../images/bg_sm.jpg") top center no-repeat #1b002c;
  }
}
@media only screen and (min-width: 640px) {
  /* line 24, ../sass/partials/_base.scss */
  body {
    background: url("../images/bg_md.jpg") top center no-repeat #1b002c;
  }
}
@media only screen and (min-width: 1024px) {
  /* line 30, ../sass/partials/_base.scss */
  body {
    background: url("../images/bg_lg.jpg") top center no-repeat #1b002c;
  }
}
/* line 4, ../sass/partials/_header.scss */
header p.headline {
  margin-top: 20px;
  color: #a04b4e;
  text-align: center;
  font-family: "Saira", sans-serif;
}
/* line 9, ../sass/partials/_header.scss */
header p.headline a {
  color: #a04b4e;
  font-family: "Saira", sans-serif;
}

/* line 15, ../sass/partials/_header.scss */
header .camp-logo {
  height: 350px;
  background: url("../images/camp_logo_mobile.png") center center no-repeat;
}
/* line 18, ../sass/partials/_header.scss */
header .camp-logo img {
  margin-left: 36.5%;
  margin-top: 34px;
  width: 30%;
  height: 41%;
}

/* line 28, ../sass/partials/_header.scss */
menu ul {
  text-align: center;
  margin: 0;
  padding: 0;
}
/* line 32, ../sass/partials/_header.scss */
menu ul li {
  list-style: none;
  display: inline-block;
  width: 100%;
}
/* line 36, ../sass/partials/_header.scss */
menu ul li a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 23px;
  font-family: "Saira", sans-serif;
  padding: 10px 30px;
  font-weight: 700;
}
/* line 45, ../sass/partials/_header.scss */
menu ul li a:hover {
  color: #fff;
}
/* line 49, ../sass/partials/_header.scss */
menu ul li:last-child {
  padding-top: 50px;
}
/* line 51, ../sass/partials/_header.scss */
menu ul li:last-child a {
  color: #631d76;
  text-decoration: none;
  background-color: #fff;
  padding: 10px 30px;
}

@media only screen and (min-width: 640px) and (max-width: 1023px) {
  /* line 62, ../sass/partials/_header.scss */
  header .camp-logo {
    height: 700px;
    background: url("../images/camp_logo_tablet.png") center center no-repeat;
  }
  /* line 65, ../sass/partials/_header.scss */
  header .camp-logo img {
    margin-left: 37%;
    margin-top: 125px;
    width: 27%;
    height: 34%;
  }

  /* line 74, ../sass/partials/_header.scss */
  menu ul li {
    display: inline;
  }
  /* line 76, ../sass/partials/_header.scss */
  menu ul li a {
    font-size: 19px;
  }
  /* line 80, ../sass/partials/_header.scss */
  menu ul li:last-child {
    display: inline-block;
  }
}
@media only screen and (min-width: 1024px) {
  /* line 90, ../sass/partials/_header.scss */
  header .camp-logo {
    margin: 0 auto;
    width: 946px;
    height: 560px;
    background: url("../images/drupal-text-only.svg") center no-repeat;
    background-size: 946px 560px;
    text-align: center;
  }
  /* line 97, ../sass/partials/_header.scss */
  header .camp-logo img {
    width: 35%;
    height: 35%;
    margin-left: 12%;
    margin-top: 40px;
  }

  /* line 107, ../sass/partials/_header.scss */
  menu ul li {
    display: inline;
  }
}
/* line 1, ../sass/partials/_global.scss */
a {
  font-family: "Saira Condensed", sans-serif;
}
