/* line 1, ../sass/partials/_base.scss */
html {
  background-color: #1b002c;
}

/* line 5, ../sass/partials/_base.scss */
a {
  text-decoration: underline;
  font-family: "Saira", sans-serif;
  color: #fff;
}
/* line 9, ../sass/partials/_base.scss */
a.button-link {
  color: #631d76;
  text-decoration: none;
  background-color: #fff;
  padding: 10px 30px;
  text-transform: uppercase;
  font-weight: 700;
}
/* line 16, ../sass/partials/_base.scss */
a.button-link:hover {
  color: #a04b4e;
}
/* line 20, ../sass/partials/_base.scss */
a:hover {
  color: #fff;
}

/* line 25, ../sass/partials/_base.scss */
p {
  font-family: "Muli", sans-serif;
  font-size: 20px;
  font-weight: 200;
  color: #fff;
  text-align: center;
}

/* line 33, ../sass/partials/_base.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Saira", sans-serif;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}

/* line 40, ../sass/partials/_base.scss */
h3 {
  font-size: 20px;
  font-family: "Muli", sans-serif;
  font-weight: 200;
}

/* line 46, ../sass/partials/_base.scss */
body {
  background: url("../images/bg_sm.jpg") top center no-repeat #1b002c;
}
/* line 48, ../sass/partials/_base.scss */
body .text-display-large {
  display: none;
}

@media only screen and (min-width: 640px) {
  /* line 54, ../sass/partials/_base.scss */
  body {
    background: url("../images/bg_md.jpg") top center no-repeat #1b002c;
  }
  /* line 56, ../sass/partials/_base.scss */
  body .text-display-small {
    display: none;
  }
  /* line 59, ../sass/partials/_base.scss */
  body .text-display-large {
    display: inline-block;
  }
}
@media only screen and (min-width: 1024px) {
  /* line 66, ../sass/partials/_base.scss */
  body {
    background: url("../images/bg_lg.jpg") top center no-repeat #1b002c;
  }
}
/* line 1, ../sass/partials/_header.scss */
header p.headline {
  font-size: 14px;
  margin-top: 20px;
  color: #a04b4e;
  text-align: center;
  font-family: "Saira", sans-serif;
}
/* line 7, ../sass/partials/_header.scss */
header p.headline a {
  color: #a04b4e;
  font-family: "Saira", sans-serif;
}

/* line 13, ../sass/partials/_header.scss */
header .camp-logo {
  height: 350px;
  background: url("../images/camp_logo_mobile.png") center center no-repeat;
}
/* line 16, ../sass/partials/_header.scss */
header .camp-logo img {
  margin-left: 36.5%;
  margin-top: 34px;
  width: 30%;
  height: 41%;
}

/* line 25, ../sass/partials/_header.scss */
menu {
  margin-bottom: 100px;
}
/* line 27, ../sass/partials/_header.scss */
menu ul {
  text-align: center;
  margin: 0;
  padding: 0;
}
/* line 31, ../sass/partials/_header.scss */
menu ul li {
  list-style: none;
  display: inline-block;
  width: 100%;
}
/* line 35, ../sass/partials/_header.scss */
menu ul li a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 23px;
  font-family: "Saira", sans-serif;
  padding: 10px 30px;
  font-weight: 700;
}
/* line 44, ../sass/partials/_header.scss */
menu ul li a:hover {
  color: #631d76;
}
/* line 48, ../sass/partials/_header.scss */
menu ul li:last-child {
  padding-top: 50px;
}

/* line 55, ../sass/partials/_header.scss */
body .gold-sponsor h3 {
  margin-bottom: 0;
  padding-bottom: 0;
}

/* line 61, ../sass/partials/_header.scss */
body .early-bird-block {
  margin-top: 100px;
  margin-bottom: 100px;
}
/* line 64, ../sass/partials/_header.scss */
body .early-bird-block p.button-link {
  margin-top: 50px;
}

@media only screen and (min-width: 640px) and (max-width: 1023px) {
  /* line 70, ../sass/partials/_header.scss */
  header .camp-logo {
    height: 700px;
    background: url("../images/camp_logo_tablet.png") center center no-repeat;
  }
  /* line 73, ../sass/partials/_header.scss */
  header .camp-logo img {
    margin-left: 37%;
    margin-top: 125px;
    width: 27%;
    height: 34%;
  }

  /* line 82, ../sass/partials/_header.scss */
  menu ul li {
    display: inline;
  }
  /* line 84, ../sass/partials/_header.scss */
  menu ul li a {
    font-size: 19px;
  }
  /* line 88, ../sass/partials/_header.scss */
  menu ul li:last-child {
    display: inline-block;
  }
}
@media only screen and (min-width: 1024px) {
  /* line 97, ../sass/partials/_header.scss */
  header .camp-logo {
    margin: 0 auto;
    width: 946px;
    height: 560px;
    background: url("../images/drupal-text-only.svg") center no-repeat;
    background-size: 946px 560px;
    text-align: center;
  }
  /* line 104, ../sass/partials/_header.scss */
  header .camp-logo img {
    width: 35%;
    height: 35%;
    margin-left: 12%;
    margin-top: 40px;
  }

  /* line 114, ../sass/partials/_header.scss */
  menu ul li {
    display: inline;
  }
}
/* line 1, ../sass/partials/_content.scss */
.region.top-content {
  background: url("../images/top-content-bg.jpg") top center no-repeat;
}
/* line 4, ../sass/partials/_content.scss */
.region.top-content .keynote-speaker img {
  display: none;
}
/* line 7, ../sass/partials/_content.scss */
.region.top-content .keynote-speaker h2 {
  margin-top: 0;
  font-weight: 700;
  font-size: 35px;
}
/* line 12, ../sass/partials/_content.scss */
.region.top-content .keynote-speaker h3 {
  margin-top: 100px;
  margin-bottom: 0;
}
/* line 16, ../sass/partials/_content.scss */
.region.top-content .keynote-speaker p {
  color: #b8b8b8;
  font-size: 18px;
}
/* line 20, ../sass/partials/_content.scss */
.region.top-content .keynote-speaker h2, .region.top-content .keynote-speaker h3, .region.top-content .keynote-speaker p {
  text-align: left;
}

@media only screen and (min-width: 1024px) {
  /* line 29, ../sass/partials/_content.scss */
  .region.top-content .keynote-speaker img {
    display: block;
  }
}
/* line 1, ../sass/partials/_footer.scss */
.footer-top-wrapper {
  padding-bottom: 100px;
}
/* line 3, ../sass/partials/_footer.scss */
.footer-top-wrapper h1, .footer-top-wrapper h2, .footer-top-wrapper h3, .footer-top-wrapper h4, .footer-top-wrapper h5, .footer-top-wrapper h6 {
  text-align: left;
  text-transform: none;
  font-weight: 600;
}
/* line 8, ../sass/partials/_footer.scss */
.footer-top-wrapper h2 {
  padding-bottom: 10px;
  padding-top: 30px;
}
/* line 12, ../sass/partials/_footer.scss */
.footer-top-wrapper p {
  font-size: 16px;
  text-align: left;
  margin: 0;
}
/* line 16, ../sass/partials/_footer.scss */
.footer-top-wrapper p.button-link {
  margin-top: 20px;
}

/* line 22, ../sass/partials/_footer.scss */
.footer-bottom-wrapper {
  background-color: #000;
  padding-bottom: 70px;
}
/* line 25, ../sass/partials/_footer.scss */
.footer-bottom-wrapper .camp-logo-footer {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;
}
/* line 30, ../sass/partials/_footer.scss */
.footer-bottom-wrapper p {
  font-size: 14px;
}
/* line 32, ../sass/partials/_footer.scss */
.footer-bottom-wrapper p.copyrights {
  color: #b8b8b8;
}
/* line 36, ../sass/partials/_footer.scss */
.footer-bottom-wrapper img {
  width: 80px;
}

@media only screen and (min-width: 1024px) {
  /* line 43, ../sass/partials/_footer.scss */
  .footer-top-wrapper p {
    margin: 0 0 5px;
    padding-bottom: 5px;
  }
  /* line 46, ../sass/partials/_footer.scss */
  .footer-top-wrapper p.button-link {
    margin-top: 10px;
  }
}
