---
layout: no-sponsors
---

<h1>Sponsors</h1>

<p>
Drupalcamp Cebu is probably the only Drupalcamp in South East Asia this year. It would not have been possible without the support of our sponsors.
A huge THANKS to them for making Drupalcamp Cebu possible and supporting the community in this part of the world.
</p>

{% include regions/sponsor_gold.html %}
{% include regions/sponsor_silver.html %}
{% include regions/sponsor_bronze.html %}

<div class="sponsor clearfix">
  <h3>Coffee and snacks sponsor</h3>
    <p>
      <img src="{{ "images/skyrockit-logo.png" | relative_url }}" alt="SkyrockIT logo" />
    </p>
</div>
