---
layout: no-sponsors
title: Sponsors
permalink: /sponsors/
---

<h1>Sponsors</h1>

<div class="clearfix">
  <div class="col-md-10 col-md-push-1 clearfix">
    <p>
    Drupalcamp Cebu is probably the only Drupalcamp in South East Asia this year. It would not have been possible without the support of our sponsors.
    A huge THANKS to them for making Drupalcamp Cebu possible and supporting the community in this part of the world.
    </p>
  </div>
</div>

{% include regions/sponsor_gold.html %}
{% include regions/sponsor_silver.html %}
{% include regions/sponsor_bronze.html %}

<div class="sponsor clearfix">
  <div class="col-md-12">
    <h3>Coffee and snacks sponsor</h3>
    <p>
      <a href="https://www.skyrockit.com/" target="_blank"><img src="{{ "images/skyrockit-logo.png" | relative_url }}" alt="SkyrockIT logo" /></a>
    </p>
  </div>
</div>
