<div class="col-md-12">
  <h2 class="featured-speakers-title">Featured Speakers</h2>
</div>
<div class="col-md-4 featured-speaker featured-speaker-left">
  <img src="{{ "/images/featured-speaker-justine.png" | relative_url }}" alt="Featured Speaker Justine Win Canete" />
  <h3>"Atomic Design."</h3>
  <p>By Justine Win Canete, UI UX Designer at Symph</p>
</div>
<div class="col-md-4 featured-speaker featured-speaker-center">
  <img src="{{ "/images/featured-speaker-ashwini.png" | relative_url }}" alt="Featured Speaker Ashwini KUmar" />
  <h3>"Manage Docker host or Swarm cluster with Portainer."</h3>
  <p>By Ashwini Kumar, Tech Lead at Srijan technologies</p>
</div>
<div class="col-md-4 featured-speaker featured-speaker-right">
  <img src="{{ "/images/featured-speaker-leo.png" | relative_url }}" alt="Featured Speaker Leolando Tan" />
  <h3>"Ionic and Headless Drupal Awesomeness."</h3>
  <p>By Leolando Tan, Drupal Web Developer at Promet Source</p>
</div>
