<div class="one-speaker col-md-7">
  <h3>Keynote speaker</h3>
  <h2>John Albin Wilkins</h2>
  <p>John embraced the open culture of the web and started sharing his expertise. John has given talks in four continents, speaking on topics like style-guide-driven development, agile, information architecture, CSS, Sass/Compass, mobile, and responsive design. He is also a prolific sharer of free code. Incorporating a CSS/Sass framework, his Zen theme has been downloaded over 1,000,000 times. Recently, John developed the “container-relative floats” technique that now powers responsive layout tools like Gridset.app, Singularity, and Zen Grids. His name is also found several times in Drupal’s MAINTAINERS.txt and he is the lead of the Drupal 8 Mobile Initiative.</p>
</div>
<div class="one-speaker col-md-5"><img src="{{ "/images/john-albin-wilkins.png" | relative_url }}" alt="John Albin Wilkins photo as Keynote speaker" /></div>
