<menu class="col-md-12">
  <ul>
    <li>
      <a href="/"><img src="{{ "/images/drupalcebu_puso.svg" | relative_url }}" alt="Drupalcamp Cebu 2017 logo"/></a>
    </li>
    <!-- <li>
      <a href="#">Speakers</a>
    </li>
    <li>
      <a href="#">Schedule</a>
    </li>
    <li>
      <a href="#">Pricing</a>
    </li> -->
    <li>
      <a href="/sponsors">Sponsors</a>
    </li>
    <!-- <li>
      <a href="#venue">Venue</a>
    </li> -->
    <li>
      <a class="button-link" href="https://www.eventbrite.com/e/drupalcamp-cebu-2017-tickets-1836622387" target="_blank">Register</a>
    </li>
  </ul>
</menu>
