<menu class="col-md-12">
  <ul>
    <li>
      <a href="/"><img src="{{ "/images/drupalcebu_puso.svg" | relative_url }}" alt="Drupalcamp Cebu 2017 logo"/></a>
    </li>
    <!-- <li>
      <a href="#">Speakers</a>
    </li> -->
    <li>
      {% if page.url == "/schedule/" %}
        <a href="/schedule" class="active">Schedule</a>
      {% else %}
        <a href="/schedule">Schedule</a>
      {% endif %}
    </li>
    <!-- <li>
      <a href="#">Pricing</a>
    </li> -->
    <li>
      {% if page.url == "/sponsors/" %}
        <a href="/sponsors" class="active">Sponsors</a>
      {% else %}
        <a href="/sponsors">Sponsors</a>
      {% endif %}
    </li>
    <!-- <li>
      <a href="#venue">Venue</a>
    </li> -->
    <li>
      <a class="button-link" href="https://www.eventbrite.com/e/drupalcamp-cebu-2017-tickets-1836622387" target="_blank">Register</a>
    </li>
  </ul>
</menu>
