<div class="sponsor gold-sponsor clearfix">
  <div class="col-md-12"><h3>Gold sponsors</h3></div>
  <div class="sponsor-columns col-xs-12 col-sm-6 col-md-3 col-md-push-3">
    <div class="img-wrapper">
      <a href="https://www.prometsource.com" target="_blank"><img src="{{ "images/promet-source-logo.png" | relative_url }}" alt="Promet Source logo" /></a>
    </div>
  </div>
  <div class="sponsor-columns col-xs-12 col-sm-6 col-md-3 col-md-push-3">
    <div class="img-wrapper last">
      <a href="https://www.srijan.net" target="_blank"><img src="{{ "images/srijan-logo.png" | relative_url }}" alt="Srijan logo" /></a>
    </div>
  </div>
</div>
