<div class="sponsor silver-sponsor clearfix">
  <div class="col-md-12"><h3>Silver sponsors</h3></div>
    <div class="sponsor-columns col-xs-12 col-sm-6 col-md-3 col-md-push-3">
      <div class="img-wrapper">
        <a href="https://pantheon.io" target="_blank"><img src="{{ "images/pantheon-logo.png" | relative_url }}" alt="Pantheon logo" /></a>
      </div>
    </div>
    <div class="sponsor-columns col-xs-12 col-sm-6 col-md-3 col-md-push-3">
      <div class="img-wrapper last">
        <a href="https://annai.co.jp/en" target="_blank"><img src="{{ "images/annai-logo.png" | relative_url }}" alt="ANNAI logo" /></a>
      </div>
    </div>
</div>
