<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="region gold-sponsor">
      <div class="container">
        <div class="col-md-12">
          {% include regions/gold_sponsor.html %}
          {% include regions/early_bird.html %}
        </div>
      </div>
    </div>

    <main class="page-main" aria-label="Content">
      <div class="region top-content">
        <div class="container">
          {% include regions/home_top_content.html %}
        </div>
      </div>

      <div class="region content">
        <div class="container">
          {{ content }}
        </div>
      </div>

      <div class="region bottom-content">
        <div class="container">
          {% include regions/home_bottom_content.html %}
        </div>
      </div>
    </main>

    {% include footer.html %}

    {% include scripts_bottom.html %}
  </body>

</html>
