.page-main {
  background: url("../images/top-content-bg.jpg") top center no-repeat;
  // @TODO: Disable cover only for specific pages, example: schedule.
  // background-size: cover;
}

.region.top-content {
  .one-speaker {
    img {
      display: none;
    }
    .img-wrapper {
      text-align: center;
    }
    h2 {
      margin-top: 0;
      font-weight: 700;
      font-size: 35px;
    }
    h3 {
      margin-top: 100px;
      margin-bottom: 0;
    }
    p {
      color: $grey-text;
      font-size: 18px;
    }
    h2, h3, p {
      text-align: left;
    }
  }
}

body.no-banner .content {
  padding-bottom: 100px;
}

.region.content {
  .featured-speaker-wrapper {
    margin-bottom: 50px;
  }
  h2.featured-speakers-title {
    text-align: left;
  }
  .featured-speaker {
    margin-top: 50px;
    margin-bottom: 30px;
    text-align: center;
    h3 {
      font-weight: 700;
      font-size: 25px;
      font-family: $font-title;
    }
  }
}

.region.bottom-content {
  .sponsor {
    margin-bottom: 70px;
  }
}

body.no-banner .sponsor {
  margin-bottom: 50px;
}

.sponsor {
  ul {
    text-align: center;
    padding: 0;
  }

  li {
    display: inline-block;
    padding: 0 25px;
    margin-bottom: 25px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  img {
    max-width: 250px;
  }
}

#venue {
  padding-bottom: 3em;

  h2 {
    font-weight: 700;
  }
}

@media only screen and (min-width: 1024px) {
  .region.top-content {
    .one-speaker {
      img {
        display: block;
      }
    }
  }

  .region.content {
    .featured-speaker-wrapper {
      margin-bottom: 30px;
    }
    .featured-speaker-button {
      margin-bottom: 100px;
    }
    h2.featured-speakers-title {
      text-align: center;
    }
    .featured-speaker {
      h3 {
        font-weight: 700;
        font-size: 20px;
        font-family: $font-title;
        text-align: right;
        margin-bottom: 0;
      }
      p {
        font-size: 18px;
      }
    }
    .featured-speaker-left {
      padding-top: 100px;
      text-align: right;
      h3 {
        text-align: right;
      }
      p {
        text-align: right;
      }
    }
    .featured-speaker-center {
      text-align: center;
      h3 {
        text-align: center;
      }
      p {
        text-align: center;
      }
    }
    .featured-speaker-right {
      padding-top: 50px;
      text-align: left;
      h3 {
        text-align: left;
      }
      p {
        text-align: left;
      }
    }
  }
}
