.page-main {
  background: url("../images/top-content-bg.jpg") top center no-repeat;
  // @TODO: Disable cover only for specific pages, example: schedule.
  // background-size: cover;
}

.region.top-content {
  .one-speaker {
    img {
      display: none;
    }
    .img-wrapper {
      text-align: center;
    }
    h2 {
      margin-top: 0;
      font-weight: 700;
      font-size: 35px;
    }
    h3 {
      margin-top: 100px;
      margin-bottom: 0;
    }
    p {
      color: $grey-text;
      font-size: 18px;
    }
    h2, h3, p {
      text-align: left;
    }
  }
}

body.no-banner .content {
  padding-bottom: 100px;
}

.region.content {
  .three-speakers {
    margin-top: 50px;
    margin-bottom: 100px;
    h2 {
      font-weight: 700;
    }
  }
}

.region.bottom-content {
  .sponsor {
    margin-bottom: 70px;
  }
}

body.no-banner .sponsor {
  margin-bottom: 50px;
}

.sponsor {
  ul {
    text-align: center;
    padding: 0;
  }

  li {
    display: inline-block;
    padding: 0 25px;
    margin-bottom: 25px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  img {
    max-width: 250px;
  }
}

#venue {
  padding-bottom: 3em;

  h2 {
    font-weight: 700;
  }
}

@media only screen and (min-width: 1024px) {
  .region.top-content {
    .one-speaker {
      img {
        display: block;
      }
    }
  }
}
