html {
  background-color: $main-bg-color;
}

a {
  text-decoration: underline;
  font-family: $font-title;
  color: $main-color-text;
  &.button-link {
    color: $active-text;
    text-decoration: none;
    background-color: $main-color-text;
    padding: 10px 30px;
    text-transform: uppercase;
    font-weight: 700;
  }
}

p {
  font-family: $font-text;
  font-size: 20px;
  font-weight: 200;
  color: $main-color-text;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-title;
  color: $main-color-text;
  text-align: center;
  text-transform: uppercase;
}

h3 {
  font-size: 20px;
  font-family: $font-text;
  font-weight: 200;
}

body {
  background: url("../images/bg_sm.jpg") top center no-repeat $main-bg-color;
  .text-display-large {
    display: none;
  }
}

@media only screen and (min-width: 640px) {
  body {
    background: url("../images/bg_md.jpg") top center no-repeat $main-bg-color;
    .text-display-small {
      display: none;
    }
    .text-display-large {
      display: inline-block;
    }
  }
}

@media only screen and (min-width: 1024px) {
  body {
    background: url("../images/bg_lg.jpg") top center no-repeat $main-bg-color;
  }
}
