@import 'colors';
 

header .camp-logo {

}

header p.headline {
  margin-top: 20px;
  color: $minor-color-text;
  text-align: center;
  a {
    color: $minor-color-text;
  }
}


@media only screen and (min-width: 0px) and (max-width: 289px) {
  header .camp-logo {
      height: 500px;
      background: url("../images/camp_logo_mobile.png") center no-repeat;

    img { 

      margin-left: 38%;
      margin-top: 100px;
      width: 28%;
      height: 28%;
    }
  }
}

@media only screen and (min-width: 289px) and (max-width: 640px) {
  header .camp-logo {
    height: 500px;
    background: url("../images/camp_logo_mobile.png") center no-repeat;
    
    img {
      margin-left: 40.5%;
      margin-top: 118px;
      width: 20%;
      height: 20%;
    }
  }
}

@media only screen and (min-width: 640px) and (max-width: 1023px){
  header .camp-logo {
    height: 700px;
    background: url("../images/camp_logo_tablet.png") center no-repeat;
    
      img {
            margin-left: 37%;
            margin-top: 125px;
            width: 27%;
            height: 27%;

      }
  }
}

@media only screen and (min-width: 1024px) {
  header {
    .wrapper {
      /* width: 946px;*/
    }
    .camp-logo {
      margin: 0 auto;
      width: 946px;
      height: 560px;
      background: url("../images/drupal-text-only.svg") center no-repeat;
      background-size: 946px 560px;
      text-align: center;
      img {
        width: 35%;
        height: 35%;
        margin-left: 12%;
        margin-top: 40px;
      }
    }
  }
}
