@import 'colors';

header p.headline {
  margin-top: 20px;
  color: $minor-color-text;
  text-align: center;
  a {
    color: $minor-color-text;
  }
}

header .camp-logo {
  height: 350px;
  background: url("../images/camp_logo_mobile.png") center center no-repeat;
  img {
    margin-left: 36.5%;
    margin-top: 34px;
    width: 30%;
    height: 41%;
  }
}

@media only screen and (min-width: 640px) and (max-width: 1023px){
  header .camp-logo {
    height: 700px;
    background: url("../images/camp_logo_tablet.png") center center no-repeat;
    img {
      margin-left: 37%;
      margin-top: 125px;
      width: 27%;
      height: 34%;
    }
  }
}

@media only screen and (min-width: 1024px) {
  header {
    .camp-logo {
      margin: 0 auto;
      width: 946px;
      height: 560px;
      background: url("../images/drupal-text-only.svg") center no-repeat;
      background-size: 946px 560px;
      text-align: center;
      img {
        width: 35%;
        height: 35%;
        margin-left: 12%;
        margin-top: 40px;
      }
    }
  }
}
