header p.headline {
  font-size: 14px;
  margin-top: 20px;
  color: $minor-color-text;
  text-align: center;
  font-family: $font-title-regular;
  a {
    color: $minor-color-text;
    font-family: $font-title-regular;
  }
}

header .camp-logo {
  height: 350px;
  background: url("../images/camp_logo_mobile.png") center center no-repeat;
  img {
    margin-left: 36.5%;
    margin-top: 34px;
    width: 30%;
    height: 41%;
  }
}

// Main menu.
menu {
  margin-bottom: 100px;
  ul {
    text-align: center;
    margin: 0;
    padding: 0;
    li {
      list-style: none;
      display: inline-block;
      width: 100%;
      a {
        color: $main-color-text;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 23px;
        font-family: $font-title-regular;
        padding: 10px 30px;
        font-weight: 700;
      }
      a:hover {
        color: $active-text;
      }
    }
    li:last-child {
      padding-top: 50px;
    }
  }
}

body .gold-sponsor {
  h3 {
    margin-bottom: 0;
    padding-bottom: 0;
  }
}

body .early-bird-block {
  margin-top: 100px;
  margin-bottom: 100px;
  p.button-link {
    margin-top: 50px;
  }
}

@media only screen and (min-width: 640px) and (max-width: 1023px){
  header .camp-logo {
    height: 700px;
    background: url("../images/camp_logo_tablet.png") center center no-repeat;
    img {
      margin-left: 37%;
      margin-top: 125px;
      width: 27%;
      height: 34%;
    }
  }
  menu {
    ul {
      li {
        display: inline;
        a {
          font-size: 19px;
        }
      }
      li:last-child {
        display: inline-block;
      }
    }
  }
}

@media only screen and (min-width: 1024px) {
  header {
    .camp-logo {
      margin: 0 auto;
      width: 946px;
      height: 560px;
      background: url("../images/drupal-text-only.svg") center no-repeat;
      background-size: 946px 560px;
      text-align: center;
      img {
        width: 35%;
        height: 35%;
        margin-left: 12%;
        margin-top: 40px;
      }
    }
  }
  menu {
    ul {
      li {
        display: inline;
      }
    }
  }
}
