@import "compass";
@import "compass/css3";

// Setup of main variables.
@import "partials/colors";
@import "partials/fonts";

@import "partials/base";
@import "partials/header";
@import "partials/footer";
