<div class="col-md-12">
  <div class="gold-sponsor">
    <h3>Gold sponsor</h3>
    <p><img src="{{ "images/gold-sponsor-promet-source-mobile.png" | relative_url }}" /></p>
  </div>
  <div class="early-bird-block">
    <p class="text-display-large">Drupalcamp Cebu is a one day conference about Web development with sessions about Drupal, DevOPS, UI/UX and Business. It is the largest Drupal event in this part of the world for four consecutive years and has welcomed international speakers and attendees.</p>
    <p>Save 250PHP, early bird promo 50% until 25 Oct.</p>
    <p class="button-link">
      <a class="button-link text-display-small" href="https://www.eventbrite.com/e/drupalcamp-cebu-2017-tickets-1836622387" target="_blank">
        Early bird 50%
      </a>
      <a class="button-link text-display-large" href="https://www.eventbrite.com/e/drupalcamp-cebu-2017-tickets-1836622387" target="_blank">
        Register now for early bird price
      </a>
    </p>
    <p class="event-host">This event is hosted by <a href="http://www.cit.edu/v6/" target="_blank">CIT University.</a></p>
  </div>
</div>
